<% layout('layouts/boilerplate')%>
<div class="container">
  <!-- create post button -->
  <div class="d-flex justify-content-between align-items-center">
    <h1>All posts</h1>
    <a class="btn btn-primary" href="/posts/new">Create Post</a>
  </div>
  <div class="card mb-3">
    <div class="row">
      <div class="col-md-12">
        <div class="card-body">
          <% for (let post of posts){%>
            <!-- flex direction column -->
          <div class="d-flex justify-content-between align-items-start flex-column">
            <span>
              <small
                class="text-muted <% if (post.userid == userid){%> text-primary <% }%>"
              >
                Posted by <% if (post.userid == userid){%> You <% }else{%> <%=
                post.username %> <% }%>
              </small>
            </span>
            <h4 class="card-text"><%= post.body %></h4>
            <!-- a button to view the post -->
            <button class="btn btn-primary" >
              <a
                class="text-white text-decoration-none"
                href="/posts/<%= post.postid %>"
                onclick="window.location.href='/posts/<%= post.postid %>'"
                >View Post</a
              >
            </button>
          </div>
          <hr />
          <% }%>
        </div>
      </div>
    </div>
  </div>
</div>
